body {
    background: rgb(2, 2, 37);
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0;
}

.form-container {
    height: calc(100vh - 58px);
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 90vh;
}

.user-form{
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 23rem;
    border: 5px solid black;
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.user-form input:focus, .search-container input {
    outline: none;
}

input::-webkit-input-placeholder {
    color: black;
    opacity: 0.4;
}

.user-form label {
    float: left;
    margin-left: 15px;
}

.user-form input {
    height: 29px;
    width: 90%;
    border: none;
    border-left: 3px solid black;
    margin-left: 2px;
}

.info-container {
    display: inline-block;
    width: 90%;
    height: 35px;
    border: 3px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
}

.signup-container {
    margin-top: auto;
    margin-bottom: 10px;
}

.error-container {
    border: 2px solid red;
    font-size: 13px;
    width: 95%;
    margin-top: 20px;
    text-align: left;
}

.error-container h2 {
    background-color: red;
    font-size: 20px;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

#home-container img {
    width: 60%;
    border-radius: 50px;
}

.btn {
    margin-right: 10px;
}

.nav-link {
    color: blue !important;
}

.container {
    margin-top: 10px;
}

.fridge-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.fridge-header h2 {
    margin-right: 20px;
}

.fridge-header button {
    height: 50px;
}

.ingredient-btn .plus:hover {
    background-color: rgba(2, 122, 2, 0.4);
}

.ingredient-btn .minus:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.x-btn, .minus, .plus {
    float: right;
}

.list-group-item {
    width: 100%
}

.search-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 58px);
}

.search-page p {
    align-self: center;
    vertical-align: middle;
}

.recipe-search {
    margin-top: 20px;
}

.recipe-search form {
    display: flex;
    justify-content: center;
}

.search-container {
    width: clamp(500px, 50%, 800px);
    border: 2px solid black;
}

.search-container input {
    height: 100%;
    width: calc(100% - 27px);
    border: none;
    border-left: 2px solid black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin-top: 20px;
    max-width: 1800px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 18rem;
    height: 25rem;
}

.card-img-top {
    height: 17rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-body h5 {
    text-align: center;
    width: 100%;
}

.card-body a {
    margin-top: auto;
}

.msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: clamp(20px, 5vw, 30px)
}